.main {
    padding-top: 3.5rem;
    overflow: hidden;
}

.process {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    margin-top: .75rem;
}

.screen {
    display: flex;
    transition: transform .5s linear;
}

.step {
    flex-shrink: 0;
    flex-basis: 100vw;
    padding-inline: 1rem;
}

.next {
    transition: transform .5s linear;
    transform: translateX(-100vw);
}

.prev {
    transition: transform .5s linear;
    transform: translateX(100vw);
}

.text {
    margin-bottom: .5rem;
}

.title {
    margin-bottom: 1.5rem;
}

.input {
    margin-bottom: 1.5rem;
}

@media(min-width: 680px) {
    .main {
        display: grid;
        grid-template-columns: 16.25rem 1fr;
        padding-top: 0;
        height: 100vh;
    }   

    .process {
        padding: 3rem 1.625rem;
        justify-content: start;
        border-right: 1px solid var(--bg-card-color);
    }
}