:root {
  // Font
  --font-size: 1rem;
  --font-line: 1.375rem;

  // Colors 
  --bg-color: #1E1E1E;
  --bg-card-color: rgba(255, 255, 255, 0.1);
  --bg-card-active-color: rgba(33, 122, 255, 0.1);
  --primary-color: #FFF;
  --accent-color: #2B8CE5;

  // Sizes

  --screen: calc(100vw - 2rem);
}
