.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;

    table {
        border: 1px solid var(--bg-card-color);
        padding: 1rem;
        min-width: calc(100vw - 4rem);
    }

    caption {
        background-color: var(--bg-card-color);
        padding: 1rem;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    td {
        flex: 1 0 50%;
    }

    tr > td:nth-child(2) {
        justify-self: end;
        text-align: right;
    }
}

